<div class="spacer"> </div>


<div class="centered">
    <a href='https://ko-fi.com/V7V315112' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi2.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a></br></br>
    <script src="https://liberapay.com/KrilleChritzelius/widgets/button.js"></script>
    <noscript><a href="https://liberapay.com/KrilleChritzelius/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/{{site.assets}}/widgets/donate.svg"></a></noscript>
</div>

<div class="spacer"> </div>

<div class="container">

<div id="footer">
    Languages available: (
    {% for language in site.languages %}
    {% if language != "template" %}
    <a href="../{{language}}">{{language}}</a>
    {% endif %}
    {% endfor %}
    )
    <br/>
    <a href="https://github.com/ChristianPauly/fluffychat/blob/master/LICENSE" target="new">{{ site.data[page.lang].index.license }}</a> -
    <a href="https://github.com/ChristianPauly/fluffychat/blob/master/CHANGELOG.md" target="new">{{ site.data[page.lang].index.changelog }}</a> -
    <a href="https://hosted.weblate.org/projects/fluffychat/" target="new">{{ site.data[page.lang].index.translations }}</a> -
    <a href="https://github.com/ChristianPauly" target="new">{{ site.data[page.lang].index.created }}</a> -
    <a href="https://github.com/ChristianPauly/fluffychat/blob/master/PRIVACYPOLICY.md" target="new">{{ site.data[page.lang].index.privacypolicy }}</a> -
    <a href="https://github.com/ChristianPauly/fluffychat/graphs/contributors" target="new">{{ site.data[page.lang].index.contributors }}</a> -
    <a href="https://github.com/ChristianPauly/fluffychat#special-thanks-to" target="new">{{ site.data[page.lang].index.specialthanksto }}</a> -
    <a href="https://ubports.com" target="new">{{ site.data[page.lang].index.ubports }}</a>
</div>

</div>
